.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background: #f5f9fe;
}
header .logo {
  color: #2a73dd;
}
header nav a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header nav a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background: #2a73dd;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
header nav a:hover::before, header nav a.active::before {
  width: 100%;
}
header nav a:hover {
  color: #2a73dd;
}
header nav a.active {
  color: #2a73dd;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner h2 {
  color: #2a73dd;
}
.banner h3 {
  color: #1d365e;
}
.banner .infor {
  border-radius: 8px;
  padding: 15px 50px;
  background: #2a73dd;
  color: #fff;
}
.banner .shop {
  border-radius: 8px;
  padding: 15px 50px;
  background: #1d365e;
  color: #fff;
}

.product {
  background: #f5f9fe;
}
.product .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  padding: 40px;
  border-radius: 8px;
}
.product .list .img_wraper {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
.product .list img {
  width: 100%;
}
.product .list .desc {
  display: flex;
}
.product .drselect.slcitem:hover {
  display: block;
}

#spinner {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-admin {
  color: #2a73dd;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s all ease-in-out;
}
#logo-admin:hover {
  transform: scale(1.15);
}
#logo-admin #icon-logo-admin {
  margin-bottom: -0.7rem;
  font-size: 1.5rem;
}

.modal-body .form-group {
  display: flex;
  align-items: center;
}
.modal-body .form-group i {
  width: 50px;
  z-index: 10;
  text-align: center;
}

.input-group-append .input-group-text {
  cursor: pointer;
}

.arrange-list-phone {
  cursor: pointer;
}

#spinner-admin {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner-admin #loading-admin {
  width: 100px;
  height: 100px;
}

.input-valid i {
  line-height: 35px;
}

.admin-modal {
  margin: 0 auto;
}

@media screen and (max-width: 991.98px) {
  .admin-btn-create {
    margin-right: -50px;
  }
  .admin-search {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .admin-btn-create {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .admin-search {
    margin-left: 0;
    margin-top: 10px;
  }
  .admin-heading {
    font-size: 2.5rem;
  }
  .modal-dialog {
    max-width: 450px;
  }
}
@media screen and (max-width: 612px) {
  .admin-table thead th {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .admin-table tbody td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .admin-table tbody button {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 575.98px) {
  .admin-modal {
    max-width: 300px;
  }
  .admin-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
  .admin-container-btn-footer {
    padding: 0.25rem 0.75rem 0.75rem 0;
  }
  .admin-body-form {
    padding: 0.5rem 1rem 0 1rem;
  }
}
@media screen and (max-width: 530px) {
  .admin-table tbody button {
    padding: 0.1rem 0.3rem;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 450px) {
  .admin-table thead th {
    padding: 0.5rem 0.25rem;
    font-size: 0.6rem;
  }
  .admin-table tbody td {
    padding: 0.5rem 0.25rem;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 423px) {
  .admin-modal {
    width: 260px;
  }
}/*# sourceMappingURL=index.css.map */