//variable  
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
//mixin
@mixin btn-theme($color1,$color2){
    border-radius: 8px;
    padding: 15px 50px;
   // border: 2px solid red;
    background: $color1;
    color: $color2;
}
@mixin box-shadow-theme{
    box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    box-shadow: 0 2px 4px $color-white-2;
    background: $color-white-1 ;
    .logo{
        color:$color-blue-1;
    }
    nav{
        a{
            color:$color-blue-2;
            transition: 0.3s;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                background: $color-blue-1;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s;
            }
            &:hover::before ,&.active::before{
                width: 100%;
            }
            &:hover{
                color: $color-blue-1;
            }
            &.active{
                color: $color-blue-1;
            }
        }
    }
}
.banner{
    background-image: url(../image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2{
        color: $color-blue-1;
    }
    h3{
        color: $color-blue-2;
    }
    .infor{
        @include btn-theme($color-blue-1,#fff )
    }

    .shop{
        @include btn-theme($color-blue-2,#fff);
    }
}
.product{
    background: $color-white-1;
    .list{
        .item{
            @include box-shadow-theme();
            padding: 40px;
            border-radius: 8px
        }
        .img_wraper{
            @include box-shadow-theme();
            border-radius: 8px;
        }
        img{
            width: 100%;

        }
        .desc{
            display: flex;
        }
    }
    .drselect{
        &.slcitem:hover{
            display: block;
        }
    }
    
}
#spinner{
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

// logo admin
#logo-admin {
    &:hover {
        transform: scale(1.15);
    }
    color: #2a73dd;
    padding: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all ease-in-out;
    #icon-logo-admin {
        margin-bottom: -0.7rem;
        font-size: 1.5rem;
    }
}

// css admin
.modal-body {
    .form-group {
        display: flex;
        align-items: center;
        i {
            width: 50px;
            z-index: 10;
            text-align: center;
        }
    }
}

.input-group-append {
    .input-group-text {
        cursor: pointer;
    }
}

.arrange-list-phone {
    cursor: pointer;
}

#spinner-admin {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    #loading-admin {
        width: 100px;
        height: 100px;
    }
}

.input-valid {
    i {
        line-height: 35px;
    }
}

.admin-modal {
    margin: 0 auto;
}

// responsive admin
@media screen and (max-width: 991.98px) {
    .admin-btn-create {
        margin-right: -50px;
    }
    .admin-search {
        margin-left: 50px;
    }
}

@media screen and (max-width: 767.98px) {
    .admin-btn-create {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .admin-search {
        margin-left: 0;
        margin-top: 10px;
    }
    .admin-heading {
        font-size: 2.5rem;
    }
    .modal-dialog {
        max-width: 450px;
    }
}

@media screen and (max-width: 612px) {
    .admin-table {
        thead {
            th {
                font-size: 0.8rem;
                padding: 0.5rem;
            }
        }
        tbody {
            td {
                font-size: 0.8rem;
                padding: 0.5rem;
            }
            button {
                padding: 0.3rem 0.5rem;
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 575.98px) {
    .admin-modal {
        max-width: 300px;
    }
    .admin-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.9rem;
    }
    .admin-container-btn-footer {
        padding: 0.25rem 0.75rem 0.75rem 0;
    }
    .admin-body-form {
        padding: 0.5rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 530px) {
    .admin-table {
        tbody {
            button {
                padding: 0.1rem 0.3rem;
                font-size: 0.6rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .admin-table {
        thead {
            th {
                padding: 0.5rem 0.25rem;
                font-size: 0.6rem;
            }
        }
        tbody {
            td {
                padding: 0.5rem 0.25rem;
                font-size: 0.6rem;
            }
        }
    }
}

@media screen and (max-width: 423px) {
    .admin-modal {
        width: 260px;
    }
}